.list {
  overflow-x: none;
  margin: 0;
  padding: 25px;
  color: #fff;
  background-color: #000;
};

.card {
  display: inline-block;
  margin: 1.35em;
  padding: 25px;
  min-width: 240px;
  max-width: 100%;
  color: #000;
  background-color: #fff;
  border-radius: 5%;
};